Lab9 - JAXB/src/files/registry_generated.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="main" type="mainType"/>
  <xs:complexType name="exType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="marriage_date"/>
        <xs:attribute type="xs:string" name="divorce_date"/>
        <xs:attribute type="xs:string" name="divorce_reason"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="statusType">
    <xs:sequence>
      <xs:element type="exType" name="ex"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="husbandType">
    <xs:sequence>
      <xs:element type="statusType" name="status"/>
      <xs:element type="xs:string" name="fullname">
        <xs:annotation>
          <xs:documentation>ex,current,future</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="address"/>
      <xs:element type="xs:string" name="email"/>
      <xs:element type="xs:string" name="haircolor"/>
      <xs:element type="xs:string" name="eyecolor"/>
      <xs:element type="xs:string" name="height"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mainType">
    <xs:sequence>
      <xs:element type="husbandType" name="husband">
        <xs:annotation>
          <xs:documentation><![CDATA[for status:
	<status>
	<ex marriage_date="" divorce_date="" divorce_reason="he hated XML"/>
	</status>
	
	OR
	<status>
	<candidate probability="55"/>
	</status>]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>